.body3 { background-color: lightblue }

.body1{align-content: center;
	background-image: url('fantasy books.jpg') ;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	}
.body2{align-content: center;
	background-image: url('squares.png') ;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: 65%;
	}

.opack
  opacity: 0.3;
  filter: alpha(opacity=30); /* For IE8 and earlier */
}
}
.boldClass {
	font-weight: bold;
}
#bigID {
	font-size: 30px;
}

.backgroundID {
	align-content: center;
	background-image: url('wasd.jpg') ;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	background-size: 65%;
}
.bigID2 {
	font-size: 60px;
	position: relative;
  	left: 370px;
  	top: -120px;
  	color: blue;
  	text-decoration: none;
}
.bigID3 {
	font-size: 60px;
	position: relative;
  	left: 470px;
  	top: -20px;
  	color: red;
  	text-decoration: none;
}
.bigID4 {
	font-size: 60px;
	position: relative;
  	left: 570px;
  	top: 80px;
  	color:green;
  	text-decoration: none;
}
.bigID5 {
	font-size: 60px;
	font-style: italic;
	
}
.bigID6 {
	font-size: 60px;
	font-style: italic;
	position: relative;
	left: 650px;
  	bottom: 55px;
	

}
.bigID7 {
	font-size: 60px;
	font-style: italic;
	position: relative;
	left: 700px;
  	bottom: 80px;
  	

}
.bigID8 {
	align-content: center;
	background-image: url('penny.jpg') ;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}
div.relative {
  position: relative;
  left: 30px;
}
.sans {
  font: 100px arial, sans-serif;
}
h2 {
  position: absolute;
  left: 100px;
  top: 150px;
}
div.a {
  text-align: center;
}

div.b {
  text-align: left;
}

div.c {
  text-align: right;
}

div.d {
  text-align: justify;
}
div.absolute {
  position: absolute;
  bottom: 10px;
  width: 50%;
  border: 3px solid #8AC007;
}
.bottomrig {
position: fixed;
  bottom: -10;
  right: 0;
  font-size: 30px;
}
.bottomrigh {
position: fixed;
  bottom: 0;
  right: 0;
  font-size: 30px;
}
.bottomright {

  font-size: 100px;
}
.vol {background-color: lightblue}